.product-card {
    transition: 0.3s;
    border: none;
    overflow: hidden;
    border-radius: 10px;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}

.product-img {
    height: 220px;
    object-fit: contain;
    padding: 10px;
    transition: 0.3s;
}

.product-card:hover .product-img {
    transform: scale(1.05);
}

.discount-badge {
    position: absolute;
    top: 8px;
    left: 8px;
    background: #dc3545;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 13px;
}